.instrumentHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slideBtn {
    display: flex;
}

.leftBtn {
    background-image: url(/svg/arrow_forward.svg);
    transform: rotate(180deg);
}
.rightBtn {
    background-image: url(/svg/arrow_forward.svg);
}

.leftBtn,
.rightBtn {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 5vw;
    height: 5vw;
    max-width: 70px;
    max-height: 70px;
    min-width: 36px;
    min-height: 36px;
    cursor: pointer;
}

.instrumentBody {
    background-color: #3c3c3c;
    padding: 65px 36px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 12px;
    cursor: grab;
}

.instrumentBody > div {
    display: flex;
    gap: 24px;
}

.teacherContainer {
    padding: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #3c3c3c;
    border-radius: 10px;
    margin-top: 12px;
    max-height: 420px;
    overflow-y: auto;
}

.teacherProfile {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.2s;
    border: 5px solid transparent;
    background-origin: border-box;
    background-clip: border-box;
}

.teacherProfile:hover {
    background-image: linear-gradient(125deg, #b4b4ff, #4f01a1);
}

.teacherIntroContainer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center center;
    height: 504px;
    position: relative;
}

.teacherIntroContainer::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.teacherIntro {
    display: flex;
    gap: 120px;
    z-index: 1;
}

.teacherInfo {
    flex: 1;
}

.teacherInfo > div {
    margin-top: 20px;
    line-height: 1.2;
}

.profileImage {
    position: relative;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    min-width: 120px;
}

@media (max-width: 1200px) {
    .instrumentBody {
        padding: 5vw 2.5vw;
        margin-top: 1.5vw;
    }

    .teacherContainer {
        padding: 2.5vw;
        margin-top: 1.5vw;
    }

    .instrumentBody > div,
    .teacherContainer {
        gap: 2vw;
    }

    .teacherIntroContainer {
        padding-top: 5vw;
        padding-bottom: 5vw;
        height: 42vw;
    }

    .teacherIntro {
        gap: 7vw;
    }
}

@media (max-width: 800px) {
    .teacherInfo > div {
        margin-top: 8px;
    }

    .teacherIntro {
        gap: 5vw;
    }

    .teacherInfo {
        flex: none;
    }
}

@media (max-width: 500px) {
    .teacherIntro {
        flex-direction: column;
    }

    .profileImage {
        height: 150px;
        width: 150px;
    }

    .teacherIntroContainer {
        height: auto;
    }

    .teacherProfile {
        border-width: 3px;
    }
}
