.instrumentHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slideBtn {
    display: flex;
}

.leftBtn {
    background-image: url(/svg/arrow_forward.svg);
    transform: rotate(180deg);
}
.rightBtn {
    background-image: url(/svg/arrow_forward.svg);
}

.leftBtn,
.rightBtn {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 5vw;
    height: 5vw;
    max-width: 70px;
    max-height: 70px;
    min-width: 36px;
    min-height: 36px;
    cursor: pointer;
}

.instrumentBody {
    background-color: #3c3c3c;
    padding: 65px 36px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 12px;
    cursor: grab;
}

.instrumentBody > div {
    display: flex;
    gap: 24px;
}

@media (max-width: 1200px) {
    .instrumentBody {
        padding: 5vw 2.5vw;
        margin-top: 1vw;
    }

    .instrumentBody > div {
        gap: 2vw;
    }
}
