.introImage {
    background-image: url("/image/introduce/intro.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.introImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.introImage img {
    object-fit: cover;
    object-position: right center;
}
