.academyIntroduceContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

.introduceArticle {
    grid-column: 1/9;
}

.introduceArticle > p {
    margin-bottom: 12px;
}

.outlookImage {
    grid-column: 9/13;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.address {
    padding-top: 8px;
    padding-bottom: 16px;
}

.map {
    height: 70vw;
    max-height: 670px;
    width: 100%;
}

@media (max-width: 500px) {
    .introMentContainer > p {
        padding-top: 60vh;
    }

    .academyIntroduceContainer {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .outlookImage {
        height: 35vh;
    }
}
